.grid {
  display: -ms-grid;
  display: grid;
}

.header-landing {
  position: fixed;
  min-height: 10vh;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.header-landing .nav-landing {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-landing .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: calc(1em + 0.5vw);
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}

.header-landing .nav-items .nav-item {
  width: 139px;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #2e2b55;
  border-radius: 10px;
  margin-left: 30px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.header-landing .nav-items .nav-item:hover {
  color: #2e2b55;
  background: white;
  border: 3px solid #2e2b55;
}

.first {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  margin-left: 9vw;
}

.heading {
  font-size: calc(1em + 3vw);
}

.sub-heading {
  font-size: calc(1em + 2vw);
}

.img-container {
  margin-top: 300px;
  padding-right: 9vw;
}

.auth {
  margin-top: 5vh;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.auth label {
  background-color: white;
  height: 80%;
  width: 15%;
  border-radius: 10px 0px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth input {
  font-size: 25px;
}

.auth-form {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25);
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}

.input-container {
  min-width: 400px;
  height: 14%;
  max-width: 50%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 60px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.input-container:focus-within {
  border: 5px solid black;
}

.input {
  border: 0;
  height: 100%;
  width: 80%;
  background: transparent;
}

.auth-form-submit {
  margin-top: 30px;
  width: 15%;
  height: 10%;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #2e2b55;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.input:focus,
.input:visited,
.input:active,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: white !important;
  outline: none;
  border: 0;
}

.error-message {
  color: #ff5353;
  font-size: calc(1em + 0.2vw);
}

/* Calendar Styles */
.calendar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  margin: 50px 0px 10px 0px;
}

#calendarbuttons {
  padding: 0px 0px 25px 0px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #7a87ff;
}

#calendarbuttons button {
  background-color: white;
  font-family: cursive;
  font-size: medium;
  font-weight: bold;
}

#calendarbuttons button:hover {
  color: #7a87ff;
}

#indivEvents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  line-height: 290%;
  font-family: cursive;
  font-size: small;
}

#delete {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#add {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#events {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#signout_button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#authorize_button {
  background-color: white;
  font-size: large;
  font-weight: bold;
  font-family: cursive;
  margin: auto;
}

#authorize_button:hover {
  color: #7a87ff;
}

.upcomingEvents {
  font-weight: lighter;
  font-size: small;
  margin: auto;
  color: gray;
}

.fas {
  margin: 10px;
}

/* Todo Styles */
* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
  text-decoration: none;
}

body {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  background: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(12vh, 0.2fr) 1fr 1fr;
      grid-template-rows: minmax(12vh, 0.2fr) 1fr 1fr;
      grid-template-areas: "nav nav nav nav" "main main main main" "main main main main";
}

.svg-backdrop {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.welcome-section {
  grid-area: weather;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.welcome-message {
  z-index: 1;
  color: white;
  padding-left: 80px;
  padding-top: 20px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Nunito", sans-serif;
}

.good,
.morning {
  font-size: calc(1.2em + 2vw);
}

.header {
  width: 92%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: nav;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: bolder;
  font-family: "Nunito", sans-serif;
  min-width: 500px;
  margin-right: 50px;
}

.nav {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.nav .nav-links * {
  cursor: pointer;
}

.nav .nav-links .profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #7a87ff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.quick-toggles,
.sidebar {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 0px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quick-toggles .hide-show,
.sidebar .hide-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.quick-toggles a,
.sidebar a {
  padding: 2px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.quick-toggles .quick-toggle,
.sidebar .quick-toggle {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.quick-toggles .quick-toggle img,
.sidebar .quick-toggle img {
  width: 80%;
  height: 80%;
}

.quick-toggles .quick-toggle i,
.sidebar .quick-toggle i {
  font-size: 30px;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: main;
}

/*** modal styles ***/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.modal {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

.modal button {
  color: #444;
  border-color: #444;
  font-weight: bold;
  margin-top: 20px;
}

.modal p {
  color: #444;
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* navigation bar */
.logo-container {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.navcontainer {
  width: 100%;
  margin: 0 auto;
  border-bottom: 5px solid black;
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar {
  width: 100%;
  overflow: hidden;
  height: 70px;
  line-height: 70px;
  background: lightgray;
}

/* menu */
.menu {
  float: right;
}

.menu li {
  float: left;
  width: 120px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  list-style: none;
}

.menu li a {
  background-color: darkgray;
  padding: 0.2em 1em;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-family: calibri;
  text-transform: uppercase;
}

.menu li a:hover {
  background-color: #fff;
  color: #000;
}

/*About Us and Members part */
.aboutcontainer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 90px;
  font-family: calibri;
  font-size: x-large;
}

/*Display card and info about the developers*/
.bigcontainer {
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  padding: 50px;
}

.column {
  /*make 4 columns or cards */
  float: left;
  width: 25%;
  padding: 0 8px;
  margin: 50px;
}

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: lightgray;
  border-radius: 30px;
  width: 100%;
  padding: 20px;
}

.title {
  color: grey;
}

.photo {
  border-radius: 50%;
}

/* for the facebook insta and email - three circles at the bottom */
.social {
  background-color: lightgray;
  color: #000;
  text-align: center;
  font-size: 90%;
}

.social ul {
  margin: 10px;
  padding: 5px;
  list-style-type: none;
  text-align: center;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social ul li a {
  text-decoration: none;
  border-radius: 50%;
  font-family: calibri;
  padding: 0.2em 1em;
  color: white;
  background-color: darkgray;
  margin: 5px;
}

.social ul li a:hover {
  background-color: #fff;
  color: #000;
}

/*bottom footer*/
.footer {
  background-color: lightgray;
  height: 100px;
  clear: both;
  color: #000;
  text-align: center;
  padding: 10px;
  font-size: 90%;
  border-top: 5px solid black;
  border-radius: 10px;
}

.footer ul {
  margin: 10px;
  padding: 5px;
  list-style-type: none;
  border-radius: 5px;
}

.footer ul li {
  display: inline;
}

.footer ul li a {
  text-decoration: none;
  border-radius: 5px;
  font-family: calibri;
  text-transform: uppercase;
  padding: 0.2em 1em;
  color: white;
  background-color: darkgray;
}

.footer ul li a:hover {
  background-color: #fff;
  color: #000;
}

p {
  font-size: small;
}

/* Classroom Styles */
.classroom-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 92%;
  margin: 0 auto;
  min-height: 100vh;
}

.section-title {
  margin-bottom: 10px;
}

.classrooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.classroom {
  font-size: calc(0.6em + 0.3vw);
  padding: 20px;
  min-width: 200px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: #4f4f4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 30px;
  margin-bottom: 30px;
  color: white;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.classroom .actions {
  color: white;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.classroom:hover .actions {
  opacity: 1;
}

.create-classroom {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.open-close-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.open-close-form h3 {
  font-size: calc(0.5em + 0.7vw);
}

.create-classroom-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-fields label {
  font-size: calc(0.5em + 0.5vw);
  font-weight: bold;
}

.input-fields input {
  border-radius: 5px;
  width: 100%;
  height: 30px;
  padding: 0 5px;
  font-family: "Nunito", sans-serif;
}

.create-classroom-submit {
  min-width: 100px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  height: 30px;
  font-size: calc(0.5em + 0.5vw);
}

/* class detail view styles */
.inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */